@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-ligth: #f8fafc;
  --font-color-ligth: #0f172a;

  --background-color: #fff;
  --dots-color: #cbd5e1;

  --background-color-dark: #0f172a;
  --dots-color-dark: #334155;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

html.light {
  background-image: radial-gradient(
      var(--dots-color) 1px,
      var(--background-color) 1px
    ),
    radial-gradient(var(--dots-color) 1px, var(--background-color) 1px);
  background-position: 0 0, 25px 25px;
  background-size: 35px 35px;
}

html.dark {
  background-image: radial-gradient(
      var(--dots-color-dark) 1px,
      var(--background-color-dark) 1px
    ),
    radial-gradient(
      var(--dots-color-dark) 1px,
      var(--background-color-dark) 1px
    );
  background-position: 0 0, 25px 25px;
  background-size: 35px 35px;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.gradient-02 {
  background: #7aebfb;
  filter: blur(190px);
}

.gradient-03 {
  background: rgba(149, 66, 232, 0.776);
  filter: blur(175px);
}

.gradient-04 {
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
}

.gradient-05 {
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
}
